<span class="span1"></span>
<span class="span5">
  <h2>About Studio Dashboard</h2>
  <p>The goal of this project is to create an admin dashboard for managing nodes
    in a cluster. It's currently focused on the specific use case of managing
    the <a href="http://susestudio.com">SUSE Studio</a> cluster, but we hope
    that it will be generic enough to be useful for others as well. The
    dashboard will pull key information/metrics from other systems and also
    allow us to store/track metadata, such as comments, warranty information,
    etc.</p>
  <p>Studio Dashboard was born from a <a
    href="https://github.com/SUSE/hackweek/wiki/Admin-Dashboard">project</a> in
    SUSE's 9th <a href="http://hackweek.suse.com">Hackweek</a>, similar to how
    Team Dashboard started too (from Xing sponsored innovation week).</p>

  <h3>Support</h3>
  <p>If you find a bug or have ideas for new features, please create an <a
    href="https://github.com/susestudio/dashboard/issues">issue</a> on Github.
  Pull requests are very much appreciated!</p>

  <h3>Documentation</h3>
  <p>You can find the most up-to-date information on <a href="https://github.com/susestudio/dashboard#readme">Github</a>.</p>

  <h3>Open Source</h3>
  <p>Studio Dashboard is built upon the awesome <a
    href="http://fdietz.github.io/team_dashboard/">Team Dashboard</a> and uses
    lots of open-source software, such as:</p>
  <ul>
    <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
    <li><a href="http://unicorn.bogomips.org/">Unicorn</a></li>
    <li><a href="http://www.postgresql.org/">PostreSQL</a></li>
    <li><a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a> (<a href="http://bootswatch.com/cyborg/">Cyborg Twitter Bootstrap Theme</a>)</li>
    <li><a href="http://angularjs.org/">Angular.js</a></li>
    <li><a href="http://bootboxjs.com/">bootbox.js</a></li>
    <li><a href="http://momentjs.com/">moment.js</a></li>
    <li><a href="http://ivaynberg.github.com/select2/">select2</a></li>
    <li><a href="http://documentcloud.github.com/underscore/">underscore.js</a></li>
    <li><a href="http://d3js.org/">d3.js</a></li>
    <li><a href="http://bits.shutterstock.com/?p=103">rickshaw.js</a></li>
    <li><a href="http://humblesoftware.com/flotr2/">Flotr2</a></li>
  </ul>
  <br>
  <p>Original work &copy; 2012 Frederik Dietz; Modified work &copy; 2013 SUSE</p>
</span>
