/*
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
*/

@darkGrey:    #060606;
@darkerGrey:  #222;

table.dataTable {
  tr.odd {
    background-color: @darkGrey;

    td.sorting_1 {
      background-color: @darkGrey;
    }

    td.sorting_2 {
      background-color: @darkGrey;
    }
    td.sorting_3 {
      background-color: @darkGrey;
    }
  }

  tr.even {
    background-color: @darkerGrey;

    td.sorting_1 {
      background-color: @darkerGrey;
    }

    td.sorting_2 {
      background-color: @darkerGrey;
    }
    td.sorting_3 {
      background-color: @darkerGrey;
    }
  }
}
