/*
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap
*/

table.dataTable {
  tr.odd {
    background-color: #060606;
    td.sorting_1, td.sorting_2, td.sorting_3 {
      background-color: inherit;
    }
  }
  tr.even {
    background-color: #0F0F0F;
    td.sorting_1, td.sorting_2, td.sorting_3 {
      background-color: inherit;
    }
  }
}
